table {
  width: 100%;
}
td {
  width: 20%;
  position: relative;
}
td:after {
  content: '';
  display: block;
  margin-top: 100%;
}
td .content {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: gold;
}

table tbody tr td {
	border: solid;
}

text-center {
	text-aligh: center;
}


 